[Bb]in/
**/bin/
**/obj/
**/.vs/
**/packages/
*.suo
*.user
**/.idea
Affilate/AffilateSheduler/logs/
Affilate/AffilateShedulerSFTP/logs/
Affilate/.idea
WebFeedServicesPartners/doc/индивидуальная/.~lock.1xbetAPI(Bet).doc#
Affilate/AffilateFront/logs/
Affilate/AffilateFront/bower_components/
*.doc#
Affilate/AffilateSite/logs/
node_modules
MailSender/MailSender/logs/
*.xls#
!Deploy/AffilateFront/bin/
!Deploy/AffilateSite/bin/
ChatService/ChatService/Scripts/
Affilate/AffilateFront/DeployPackage/
*.rej
sh.exe.stackdump
Affilate/AffilateSheduler/DeployPackage/
